# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log

# Temp
*.tmp
*.bak

# Build output
*.txz
node_modules/
packages/*/node_modules/
packages/*/*/node_modules/
dist/
build/
packages/*/dist/
packages/*/*/dist/
packages/*/build/
